

 
<table style="width:100%; border: 1px solid #ddd;">
	<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Name</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var name}}</td></tr>
	<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Email</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var email}}</td></tr>
	<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Email</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var phone}}</td></tr>
	<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Message</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var message}}</td></tr>

<!--@subject {{trans "Drop as a Link"}}  @-->

 </table>
 
 
