<p>Thank you for registering<b> {{var school_name}}</b></p>
<p>We are excited that you have chosen Smoke Haus Healthy Choice Fundraising as your go-to source for raising the funds you need to achieve your goals.</p>
<p>You will be receiving a second email with your school/organization code that will also be used for student registration.</p>
<p>If you have any questions or concerns, please contact us directly at 800-333-3863 or customercare@shhealthychoice.com.</p>


<!--@subject {{trans "School Registration"}}  @-->
