
<!-- <table><tr class="email-intro"><td>
<p class="greeting"><h3>Seller Id:</h3>{{var seller_id}}</p>
<p class="greeting"><h3>School Id:</h3>{{var school_id}}</p>
<p class="greeting"><h3>Seller Name:</h3>{{var seller_name}}</p>
<p class="greeting"><h3>Seller Email:</h3>{{var seller_email}}</p>
<p class="greeting"><h3>Teacher:</h3>{{var seller_teacher}}</p> -->

<!--@subject {{trans "Your Student ID"}}  @-->

<!-- </td></tr></table> -->


<table style="width:100%; border: 1px solid #ddd;">

<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Student Id:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var seller_id}}</td></tr>
<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">School Id:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var school_id}}</td></tr>
<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Student Name:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var seller_name}}</td></tr>
<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Studen Email:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var seller_email}}</td></tr>
<tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Teacher:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var seller_teacher}}</td></tr>



<!--@subject {{trans "Your Student ID"}}  @-->

</table>
