
<!-- <table><tr class="email-intro"><td>
<p class="greeting"><h3>Student Id :</h3>{{var student_id}}</p>
<p class="greeting"><h3>School Id:</h3>{{var school_id}}</p>
<p class="greeting"><h3>Student Name:</h3>{{var student_name}}</p>
<p class="greeting"><h3>Student Email:</h3>{{var student_email}}</p>

 -->
<!--@subject {{trans "Your Student ID"}}  @-->

 <!-- </td></tr></table> -->


 <table style="width:100%; border: 1px solid #ddd;">
 
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Student Id</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var student_id}}</td></tr>
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">School Id</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var school_id}}</td></tr>
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Student Name</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var student_name}}</td></tr>
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Student Email</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var student_email}}</td></tr>
 
 <!--@subject {{trans "Your Student ID"}}  @-->

 </table>
 
