<!-- {{template config_path="design/email/header_template"}}  -->
<p>Dear <b>{{var school_name}}</b></p>
<p>Your school/organization code is ready!</p>
<p>Your code is:<b>{{var school_id}}</b></p> 
<p>If you have any questions or concerns, please contact us directly at 989-652-2221 or customercare@shhealthychoice.com.</p>
<!-- <table style="width:100%; border: 1px solid #ddd;">
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">School Id:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var school_id}}</td></tr>
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">School Name:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var school_name}}</td></tr>
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">School Email:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var school_email}}</td></tr>
 <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Student Email:</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var school_city}}</td></tr> -->

<!--@subject {{trans "Your School ID"}}  @-->

<!-- </table> -->

<!--<table><tr class="email-intro"><td>
<p class="greeting"><h3>School Id :</h3>{{var school_id}}</p>
<p class="greeting"><h3>School Name:</h3>{{var school_name}}</p>
<p class="greeting"><h3>School Email:</h3>{{var school_email}}</p>
<p class="greeting"><h3>Student Email:</h3>{{var school_city}}</p>-->


<!--@subject {{trans "Your School ID"}}  @-->

 <!-- </td></tr></table> -->
 
 
 
 
 
<!-- {{template config_path="design/email/footer_template"}}